# OS-specific files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo
.VSCodeCounter/
*~

# Node modules
node_modules/

# Image files
/images/


# Obsidian-specific 
.obsidian/workspace*
.obsidian/workspace-mobile*

# Test files
DungeonMapTracker.md

# Temporary files
*.tmp
*.log